*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
libs/classes.jar/
src/main/res/drawable/abaout_us.png
src/main/res/drawable/cooperation.png
src/main/res/drawable/email.png
src/main/res/drawable/fans_zone.png
src/main/res/drawable/help.png
src/main/res/drawable/myport.png
src/main/res/drawable/opinion.png
src/main/res/drawable/rate.png
src/main/res/drawable/setting.png
src/main/res/drawable/to_back.png
src/main/res/drawable/to_pay.png
src/main/res/drawable/to_rate.png
src/main/res/drawable/to_receive.png
src/main/res/drawable/user_logo.png
